.card {
    display: flex;
    align-items: center;
    width: fit-content;
}

.card-body {
    padding: 1rem 4rem;
    border-radius: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input-cls {
    width: 30rem;
    height: 3rem;
    border-radius: 5px;
}

#btn {
    height: 2.5rem;
    letter-spacing: 3px;
    border-radius: 5px;
    padding: 0rem 2rem;
}

.btncontainer {
    display: flex;
    justify-content: center
  }
  
  #btn {
    width: 8rem;
    height: 2rem;
  
    letter-spacing: 1px;
    background-color: blueviolet;
    color: white;
    border: white;
    border-radius: 5px;
  }
  
  
  #btns {
    width: 5rem;
    height: 2rem;
  
    background: red;
    letter-spacing: 1px;
    color: white;
    border: white;
    border-radius: 5px;
  }
  
  /*MODAL*/
  
  .card {
    display: flex;
    align-items: center;
    width: fit-content;
  }
  
  .card-body {
    padding: 1rem 4rem;
    border-radius: 10px;
  }
  
  #modalbtn {
    height: 2.5rem;
    letter-spacing: 3px;
    border-radius: 5px;
    padding: 0rem 2rem;
    border: none !important;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
  }
  
  
  // PAGINATION
  
  .pagination ul {
    margin: 2em auto;
    padding-left: 0;
    list-style-type: none;
  }
  
  .page-number {
    display: inline;
  }
  
  .page-number a {
    text-decoration: none;
    color: black;
  }
  
  /* Pagination 2 */
  .pagination-2 .page-number {
    padding: 8px 16px;
    background-color: #f3f4f2;
  }
  
  .pagination-2 .page-number:hover {
    background-color: #d9dcd6;
  }
  
  .pagination-2 .active {
    border-radius: 4px;
    background-color: #16425b;
  }
  
  .pagination-2 .active:hover {
    background-color: #16425b;
  }
  
  .pagination-2 .active a {
    color: #f3f4f2;
  }
  